* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #AAAAAA;
}

div {
    width: 960px;
    padding: 20px;
    margin: 20px auto 0;
    background-color: #FFFFFF;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

.blockElements {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: white;
    padding: 2rem;
}

.blockElements li {
    display: inline-block;
}

.inlineElements {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: white;
    padding: 2rem;
}

.inlineElements a {
    display: block;
}

.inlineBlockElements {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: white;
	padding: 2rem;
	font-size: 0;
}

.inlineBlockElements a {
	font-size: initial;
    margin: 0;
    padding: 16px;
	background-color: #000000;
    color: #FFFFFF;
}