@import url('https://fonts.googleapis.com/css?family=Cabin|Old+Standard+TT&display=swap');

body {
    background-color: #fefdda;
    margin:0;
}

h1 {
    font-family: 'Cabin', sans-serif;
}

p {
    font-family: 'Old Standard TT', serif;
}

article header p,
article footer p {
    font-size: 12px;
}

a:hover {
    text-decoration: none;
}

a {
    color: #f38014;
}

article {
    background-color: white;
    margin: 40px;
    margin-right: 50%;
    padding: 20px;
}