<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>The Edge - What To Think About Machines That Think</title>
	<link rel="stylesheet" href="css/fonts.css" />
	<link rel="stylesheet" media="(min-width: 840px)" href="css/style-large.css" />
	<link rel="stylesheet" media="(max-width: 839px)" href="css/style-small.css" />
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<h1><img src="images/edge-logo.jpg" alt="The Edge" /></h1>
			<nav class="mainNavigation">
				<ul>
					<li class="active"><a href="#">Conversations</a></li><li><a href="#">Videos</a></li><li><a href="#">Annual Question</a></li><li><a href="#">Events</a></li><li><a href="#">News</a></li><li><a href="#">Library</a></li><li><a href="#">About</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<article>
				<hgroup>
					<h1>2015 : What do you think about machines that think?</h1>
					<h2>Edge Annual Question Series</h2>
				</hgroup>
				<img src="images/edge.png" alt="What do you think about machines that think?" />
				<p>In recent years, the 1980s-era philosophical discussions about artificial intelligence (AI)—whether computers can "really" think, refer, be conscious, and so on—have led to new conversations about how we should deal with the forms that many argue actually are implemented. These "AIs", if they achieve "Superintelligence" (Nick Bostrom), could pose "existential risks" that lead to "Our Final Hour" (Martin Rees). And Stephen Hawking recently made international headlines when he noted "The development of full artificial intelligence could spell the end of the human race."</p>

				<p>THE EDGE QUESTION—2015</p>

				<p>WHAT DO YOU THINK ABOUT MACHINES THAT THINK?</p>

				<p>But wait! Should we also ask what machines that think, or, "AIs", might be thinking about? Do they want, do they expect civil rights? Do they have feelings? What kind of government (for us) would an AI choose? What kind of society would they want to structure for themselves? Or is "their" society "our" society? Will we, and the AIs, include each other within our respective circles of empathy?</p>

				<p>Numerous Edgies have been at the forefront of the science behind the various flavors of AI, either in their research or writings. AI was front and center in conversations between charter members Pamela McCorduck (Machines Who Think) and Isaac Asimov (Machines That Think) at our initial meetings in 1980. And the conversation has continued unabated, as is evident in the recent Edge feature "The Myth of AI", a conversation with Jaron Lanier, that evoked rich and provocative commentaries.</p>

				<p>Is AI becoming increasingly real? Are we now in a new era of the "AIs"? To consider this issue, it's time to grow up. Enough already with the science fiction and the movies, Star Maker, Blade Runner, 2001, Her, The Matrix, "The Borg".  Also, 80 years after Turing's invention of his Universal Machine, it's time to honor Turing, and other AI pioneers, by giving them a well-deserved rest. We know the history. (See George Dyson's 2004 Edge feature "Turing's Cathedral".) So, once again, this time with rigor, the Edge Question—2015:</p>

				<p>WHAT DO YOU THINK ABOUT MACHINES THAT THINK?</p>
				<p>John Brockman<br /> Publisher & Editor, Edge</p>
			</article>
		</main>
		<footer>
			<nav class="footerNavigation">
				<h1>Previous editions</h1>
				<ul>
					<li><a href="#"><img src="images/idea.jpg" alt="This Idea Must Die" /></a></li><li><a href="#"><img src="images/worried.jpg" alt="What Should We Be Worried About" /></a></li><li><a href="#"><img src="images/explains.jpg" alt="This Explains Everything" /></a></li><li><a href="#"><img src="images/smarter.jpg" alt="This Will Make You Smarter" /></a></li><li><a href="#"><img src="images/internet.jpg" alt="Is The Internet Changing The Way You Think" /></a></li><li><a href="#"><img src="images/brilliant.jpg" alt="This Idea Is Brilliant" /></a></li>
				</ul>
			</nav>
		</footer>
	</div>
</body>
</html>