body {
    margin: 0;
    padding: 20px;
    background-color: gray;
}

.container {
    background-color: white;
    padding: 2rem;
    max-width: 1100px;
    margin: 0 auto;
}

.container header ul {
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
    list-style: none;
}

.container header ul li {
    display: inline;
}

.container header a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 1rem;
    margin-right: 1px;
}

@media screen and (max-width: 800px) {
    body {
        padding: 0;
    }
    .container {
        padding: 0;
        height: 100vh;
    }
    main {
        padding: 0 2rem;
    }
    .container header a {
        display: block;
        margin-right: 0;
        margin-bottom: 1px;
    }
}