<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="public/style.css">
</head>

<body>
    <a href="https://www.google.com">This link goes to ... and it opens in the samen window</a>
    <br>
    <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">This link goes to ... but opens in a different window</a>
</body>

</html>