<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Brain Pickings – An inventory of the meaningful life.</title>
	<link rel="stylesheet" media="(max-width: 759px)" href="css/style-small.css" />
	<link rel="stylesheet" media="(min-width: 760px)" href="css/style-large.css" />
</head>
<body>
	<div class="container">
		<header class="siteHeader">
			<h1>
				<a href="#"><img src="images/brain-pickings-icon.png" alt="Brain Pickings"></a>
				<a href="#"><img src="images/brain-pickings-wordmark.png" alt=""></a>
			</h1>
		</header>
		<section>
			<aside>
				<header>
					<h1><img src="images/donating-loving.png" alt="Donating = Loving"></h1>
				</header>
				<section class="donating">
					<p>If you find any joy and value in what I do, please consider becoming a Sustaining Patron with a recurring monthly donation of your choosing, between a cup of tea and a good lunch. For more than 12 years, Brain Pickings has remained free (and ad-free). It takes me hundreds of hours a month to research and compose, and thousands of dollars to sustain. Your support really matters.</p>

					<h2>Monthly donation</h2>
					<ul>
						<li>$3 / month</li>
						<li>$5 / month</li>
						<li>$7 / month</li>
						<li>$10 / month</li>
						<li>$25 / month</li>
					</ul>
					<a href="#" class="button">Start now</a>

					<h2>One-time donation</h2>
					<p>You can also become a Spontaneous Supporter with a one-time donation in any amount:</p>
					<a href="#" class="button">Give now</a>
					<p>Need to cancel a recurring donation? <a href="#">Go here.</a></p>
				</section>
				<section>
					<h1>Sunday newsletter</h1>

					<p>Brain Pickings has a free Sunday digest of the week's most interesting and inspiring articles across art, science, philosophy, creativity, children's books, and other strands of our search for truth, beauty, and meaning. Here's an example. Like? Claim yours:</p>
					<form action="#">
						<input type="text" placeholder="Name">
						<input type="text" placeholder="Email Address">
						<a href="#">Subscribe</a>
					</form>
				</section>
			</aside>
			<main class="mainContent">
				<article>
					<header>
						<h1><a href="#">The Coming Victory of Democracy: Thomas Mann on Justice, Human Dignity, and the Need to Continually Renew Our Ideals</a></h1>
						<p>“To come close to art means to come close to life, and if an appreciation of the dignity of man is the moral definition of democracy, then its psychological definition arises out of its determination to reconcile and combine knowledge and art, mind and life, thought and deed.”</p>
						<p>By Maria Popova</p>
					</header>

					<img src="images/content/the-coming-victory-of-democracy.jpg" alt="The Coming Victory of Democracy">

					<p>“Progress is never permanent, will always be threatened, must be redoubled, restated and reimagined if it is to survive,” Zadie Smith wrote in her stirring essay on optimism and despair. But what does the reinvention, reassertion, and survival of progress look like when the basic fabric of democracy is under claw?</p>

					<p>That is what Thomas Mann (June 6, 1875–August 12, 1955) examined on the cusp of World War II with a prescience that bellows across the decades to speak to our own epoch and to every epoch that will succeed us.</p>

					<figure>
						<img src="images/content/thomas-mann.jpg" alt="Thomas Mann">
						<figcaption>Thomas Mann at his desk (Thomas Mann Archive)</figcaption>
					</figure>

					<p>When Hitler seized power in 1933, the 58-year-old Mann, who had won the Nobel Prize in Literature five years earlier, went into exile in Switzerland. The following year, he visited America for the first time. He returned each year thereafter, until he finally emigrated permanently in 1938 and became one of a handful of German expatriates in the United States to vocally oppose Nazism and fascism. Between February and May 1938, just before the outbreak of the war, Mann gave a series of poignant and rousing lectures across America, published later that year as The Coming Victory of Democracy (public library) — a spirited insistence that “we must not be afraid to attempt a reform of freedom,” and a clarion call for the urgent work of continually renewing and reasserting democracy as menacing ideologies rise and fall against it.</p>
				</article>
			</main>
		</section>
		<footer>
			<p>Brain Pickings participates in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn commissions by linking to Amazon. In more human terms, this means that whenever you buy a book on Amazon from a link on here, I get a small percentage of its price. That helps support Brain Pickings by offsetting a fraction of what it takes to maintain the site, and is very much appreciated. Privacy policy.</p>
		</footer>
	</div>
</body>
</html>